In [1]:
print("hello")

hello

In [11]:
import pandas as pd

# Create a pandas dataframe from dict

In [14]:
d = {'col1': [1, 2], 'col2': [3, 4]}

df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4